TOKEN=708414221312:gfwdjk1312312D #takes from botfather

POSTGRES_DB=wg_forge_db
POSTGRES_USER=wg_forge
POSTGRES_PASSWORD=42a
#mustn't be changed if you use docker
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

ADMIN_IDS=123,456,789


#connection via PGADMIN:
#localhost
